extends layout

block content
  .ui.last.container
    - if( data.length === 0 )
      center
        br
        br
        h1.ui.header 您尚未選購任何 鮮•水果~!
        br
        br
    .ui.three.cards.stackable
      - for( var i = 0; i < data.length; i++ )
        - var tmp = data[i];
        .ui.card
          .content
            .right.floated.meta
              a
                i.remove.circle.outline.icon
            | 您選購的鮮•水果
          .image
            img(src=tmp.url )
          .content
            a.header(href="/detail?item=" + tmp.id )= tmp.title
            .meta
              span.date= 'NT$' + tmp.cost + '/份'
            .description= tmp.info
          .extra.content
          .ui.left.action.input.right
            button.ui.button.red
              | 數量(份)
            input.product(type='number', min='1', style="width:90px", value="1" data-cost=tmp.cost data-name=tmp.title)
  .ui.container
    br
    hr
    br
    .ui.segment
      .ui.form
        .two.fields
          .field
            .ui.left.action.input
              button.ui.button.orange.inverted
                i.dollar.icon
                | 總金額
              input#total(type='number' disabled="true")
          .field
            .ui.left.action.input
              button.ui.button.orange.inverted
                i.dollar.icon
                | 送貨地址
              input#address(type='text', min='0', placeholder="送到哪裡呢?" )
        .checkout.ui.submit.button.green#send(style="width:100%") 確定送出

  //- dialog
  #checkout.ui.modal
    .header.ui.red 缺少必要資訊
    .content
      p 請填寫送貨地址或位址
    include footer

  #logout.ui.modal
    .header.ui.green 鮮•水果歡迎您
    .content
      p 謝謝您的光臨, 或請重新登入 :")
    include footer

  script(src='/asset/javascripts/cart.js')